.text-white {
    color: $white;
}

.text-black {
    color: $black;
}

.text-secondary-black {
    color: $secondary-black;
}

.bg-secondary-black {
    background-color: $secondary-black;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-link-water {
    background-color: $link-water;
}

.bg-lime-green {
    background-color: $lime-green;
}

.bg-primary-yellow {
    background-color: $primary-yellow;
}

.text-danger {
    color: $danger;
}